In [14]:
import numpy as np
import pandas as pd
from scipy.stats import f
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns
import scipy.stats as stats
from scipy.stats import ttest_1samp, ttest_ind
from statsmodels.stats.power import ttest_power
from statistics import mode

In [2]:
df=pd.read_csv('Cold_Storage_Temp_Data_ (2) (1).csv')

In [3]:
df.head()

   Season Month  Date  Temperature
0  Winter   Jan     1           2.3
1  Winter   Jan     2           2.2
2  Winter   Jan     3           2.4
3  Winter   Jan     4           2.8
4  Winter   Jan     5           2.5

In [5]:
df['Temperature '].unique()

array([2.3, 2.2, 2.4, 2.8, 2.5, 3. , 2.9, 2.6, 3.4, 3.9, 3.3, 2.7, 3.5,
       3.8, 3.1, 3.2, 3.7, 3.6, 4. , 2.1, 4.2, 1.9, 4.3, 4.1, 4.5, 4.4,
       1.7, 1.8, 2. ])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Season        365 non-null    object
 1   Month         365 non-null    object
 2   Date          365 non-null    int64
 3   Temperature   365 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 11.5+ KB

In [7]:
df.shape

(365, 4)

In [8]:
df.describe()

             Date  Temperature
count  365.000000    365.000000
mean    15.720548      3.002466
std      8.808321      0.465832
min      1.000000      1.700000
25%      8.000000      2.700000
50%     16.000000      3.000000
75%     23.000000      3.300000
max     31.000000      4.500000

In [9]:
df.isnull().sum()

Season          0
Month           0
Date            0
Temperature     0
dtype: int64

In [10]:
df.dtypes

Season           object
Month            object
Date              int64
Temperature     float64
dtype: object

In [58]:
df['Temperature '].count()

365

1.	Find mean cold storage temperature for Summer, Winter, and Rainy Season.

In [75]:
summer=df[(df.Season=='Summer') ].mean()
print('Mean cold Temperature for Summer: ', summer[1])

Mean cold Temperature for Summer:  3.1475

In [76]:
winter=df[(df.Season=='Winter') ].mean()
print('Mean cold Temperature for Winter: ', winter[1])

Mean cold Temperature for Winter:  2.776422764227643

In [77]:
rainy=df[(df.Season=='Rainy') ].mean()
print('Mean cold Temperature for Rainy: ', rainy[1])

Mean cold Temperature for Rainy:  3.0877049180327876

2. Find the overall mean for the full year.

In [26]:
mean=df['Temperature '].mean()
print('Overall mean for full year is : ',mean)

Overall mean for full year is :  3.0024657534246546

3.Standard Deviation for the full year

In [27]:
std=df['Temperature '].std()
print('Overall Standard Deviation for full year is : ',std)

Overall Standard Deviation for full year is :  0.4658319416510761

4.Assume Normal distribution, what is the probability of temperature having fallen below 2ยบ C?

In [28]:
z=(2-mean)/std

In [29]:
stats.norm.cdf(z)#probability of temp having fallen 2 degree c

0.015699064791364483

5.Assume Normal distribution, what is the probability of temperature having gone above 4ยบ C?

In [78]:
z=(4-mean)/std

2.141403706752536

In [79]:
1-stats.norm.cdf(z)#probability of temp having gone above 4 degree c

0.016120748141275842

# PROBLEM 2

In [4]:
fd=pd.read_csv('Cold_Storage_Mar2018_ (2) (2).csv')

In [92]:
fd.head()

   Season Month  Date   Temperature
0  Summer   Feb    11            4.0
1  Summer   Feb    12            3.9
2  Summer   Feb    13            3.9
3  Summer   Feb    14            4.0
4  Summer   Feb    15            3.8

In [6]:
fd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Season         35 non-null     object
 1   Month          35 non-null     object
 2   Date           35 non-null     int64
 3    Temperature   35 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.2+ KB

In [56]:
fd.dtypes

Season            object
Month             object
Date               int64
 Temperature     float64
dtype: object

In [7]:
fd.describe()

            Date   Temperature
count  35.000000      35.000000
mean   14.400000       3.974286
std     7.389181       0.159674
min     1.000000       3.800000
25%     9.500000       3.900000
50%    14.000000       3.900000
75%    19.500000       4.100000
max    28.000000       4.600000

In [8]:
fd.shape

(35, 4)

1. Which Hypothesis test shall be performed to check if corrective action is needed at the cold storage
plant? Justify your answer.

In [48]:
# one sample t-test
# null hypothesis: expected value = 3.9
t_statistic, p_value = ttest_1samp(fd[' Temperature '], 3.9)
print('One sample t test \nt statistic: {0} p value: {1} '.format(t_statistic, p_value))

One sample t test
t statistic: 2.752358609800241 p value: 0.009422395404264431